body{
    margin: 5em;
    background-image: url("background.jpg");
    

}
.mainNav{
    display: inline;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 30px;
    margin: 0;
}
.leftnav{
    float: left;

}
.rightnav{
    float: right;

}

nav ul{
    list-style-type: none;
    padding: 5px 20px;
    margin: 0;
}
nav li{
    color: white;
    display: inline-block;
    padding:5px 15px;
    cursor: pointer;
}
nav a{
    text-decoration: none;
}
li:hover {
    color: black;
    background-color:bisque;
} 
#notPad{
    width: 100%;
}
.textArea{
    border-radius: 10px ;
    font-size-adjust:  10px;
    cursor: pointer;
    margin: 10px;
    resize:horizontal;
    height: 200px;
    width: 200px;


}
.textArea:optional {
   user-select: all;
    background-color: rgb(243, 224, 174);

   }