body {
    margin: 5em;
    background-image: url("background.jpg");
}

.mainNav {
    display: inline;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 30px;
    margin: 0;
}

.leftnav {
    float: left;

}

.rightnav {
    float: right;

}

nav ul {
    list-style-type: none;
    padding: 5px 20px;
    margin: 0;
}

nav li {
    color: white;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color:cadetblue;
}

li:hover {
    color: black;
    background-color: bisque;
}

#notPad {
    width: 100%;
}

.textArea {
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
    resize: horizontal;
    height: 200px;
    width: 200px;
    float: left;

}

.textArea:optional{
    user-select: all;
    background-color: rgb(243, 224, 174);

}

input {
    font-size-adjust: 10px;
    resize: horizontal;
    height: auto;
    width: 200px;
    list-style-type: none;
    font-size: 15px;

}

input:optional {
    background-color: rgba(161, 192, 119, 0.904);

}

.toDoList {
    display: inline-grid;
    vertical-align: top;
}

#notPad li {
    display: block;
    padding: 0;
    margin: 0;
}

.card-todo{
    display: inline-block;
    width: 200px;
    margin-left: 10px;
    border: 1px gray solid;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: top;
}

ul.todo{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

input.input-todo{
    width: 100%;
    border: none;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.todo-title{
    color: black;
    font-weight: bold;
}
 